.selected{
    background-color: darkgreen !important;
    color: white;
}

.deselected{
    background-color: #F0F0F0 !important;
    color: black;
}

.reserved{
    background-color: #696969 !important
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    float: right;
  }

  .movie-selected {
    border-radius: 3px;    
    border: solid 3px #4CAF50;
    opacity: 1;
}

.recognise-modal {    
    border-radius: 0px;
    border: none;
    background: #fff;
  }

  .screen{
    margin-left: 40%;
    margin-top: 90px;
    height: 10px;
    width:300px;
    background-color:rgb(203, 203, 224);
  }

  .movie-name{
    padding: 6px;
    text-align: center;
    font-size: 18px;
    background-color:#F0F0F0 
  }

  .dropdown-container{
    margin-left: 40%;
    margin-top: 30px;
    height: 10px;
    width:300px;

  }

  .seats{
    border-radius: 5px;
    height: 30px;
    width:30px;
    background-color:#F0F0F0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px
  }

  .seat-row{
    height: 30px;
    width:30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px
  }

  .movie-container{
    margin-left: 15px;
    margin-right:15px;
    cursor: pointer;
    margin-top:10px;
    margin-left: 5px; 
  }

  .img-size{
    height: 260px;
    width:220px
  }

  .seat-container{
    text-align: center;
    margin-left: 30%;
    margin-top: 20px
  }

  .seat-row-container{
    display: flex;
    margin-left:50px;
  }

  .background-green{
    background-color: #4CAF50;
  }

  .font-green{
    color: #4CAF50;
  }

  .width-50{
    width: 50%;
  }

  .display-flex{
    display: flex;
  }

  .movie-img-height{
    height: 260px
  }